body {
    font-size: 18px;
    padding: 0 10px;
    margin: auto;
    max-width: 810px;
    background-color: #F6F5F4;
    color: black;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

.tikzpicture {
  height: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}


code {
    font-size: medium;
    font-family: monospace;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

table, th, td {
  border: 1px solid;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
